{% extends 'base.html' %}
{% block title %} {{object.name}} {% endblock %}
{% block maincontent %}

      <div class="text-light"> 
   

          <h5 class="card-title w-25  bg-danger text-light text-center rounded-5 p-2">{{object.name}}</h5>
          
          <p class="card-text text-center fs-2"> {{object.description}} </p>
          
            <div class="row d-flex justify-content-center m-3" >
            </div>
          <a href="{% url 'category.listall' %}" class="btn btn-primary w-25  m-auto mb-4">back</a>

    </div>
  
{% endblock %}